################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenAIWithAzure/FileContentIndex
/.vs/slnx.sqlite
